
body {
    width: 100%;
}
footer {
  width: 100%;
    padding: 18px;
    background-color: #333;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    position: relative; /* Position relative */ top: 20px; /* Adjust position as needed */
    
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 

}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  margin: 0 10px;


.social-icons img {
  width: 40px;
  height: 40px;
}

@media only screen and (max-width: 768px) {
  body{
     
      max-width: 100%;
  }
  
  
  footer {
    padding: 10px;
    margin-top:1000px;
   
  }
  
  .social-icons img {
    width: 30px;
    height: 30px;
  }
  .
}
