body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    background-color: #f0f0f0;
   
    
}

.search-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background-color:#4CAF50;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
}

#search-bar {
    width: 60%;
    max-width: 600px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    outline: none;
}

button {
    padding: 10px 20px;
    border: 2px solid #ccc;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    text-decoration:none;
    
}

button i {
    font-size: 16px;
    text-decoration:none;
}

button:hover {
    background-color: #45a049;
    text-decoration:none;
}

.results-container {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section {
    width: 95%;
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section img {
    width: 100%;
    max-width: 1280px;
    height: auto;
}

.buttons {
    margin: 10px 0;
    display: flex;
    gap: 10px;
    text-decoration:none;
}

.play-btn, .download-btn {
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    text-decoration:none;
}

.play-btn:hover, .download-btn:hover {
    background-color: #45a049;
}

.not-found {
    display: none;
    color: grey;
    font-size: 24px;
    text-align: center;
}


.play-btn, .download-btn a{
    text-decoration:none;
    text-decoration:none;
}

@media (max-width: 600px) {
    #search-bar {
        width: 70%;
    }

    button {
        padding: 10px 15px;
    }

    .not-found {
        font-size: 18px;
    }

    .play-btn, .download-btn {
        padding: 10px 15px;
        text-decoration:none;
    }
}

</style>